:root {
  --background-color: #ffffff;
  --secondary-background-color: #f5f5f5;
  --text-color: #1e1e1e;
  --primary-color: #007acc;
  --secondary-color: #ff4081;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-theme {
  --background-color: #1e1e1e;
  --secondary-background-color: #2e2e2e;
  --text-color: #f0f0f0;
  --primary-color: #0a84ff;
  --secondary-color: #ff79b0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

header {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.container{
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

.files-list{
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: .8em;
}

.file-item {
  background-color: var(--secondary-background-color);
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--text-color);
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.confirm-btn{
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.confirm-btn:hover{
  opacity: 0.8;
}

.cancel-btn{
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.cancel-btn:hover{
  opacity: 0.8;
}

.danger-btn{
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.danger-btn:hover{
  opacity: 0.8;
}

.file-actions{
  display: flex;
  gap: 10px;
}

.edit-file-form{
  display: flex;
  flex-direction: column;
  width: "70%";
  margin: auto;
  gap: 10px;
  padding: 20px;
}

.edit-file-form input, .edit-file-form textarea{
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--secondary-background-color);
}
.edit-file-form input:focus, .edit-file-form textarea:focus{
  outline: none;
  border-color: var(--primary-color);
}
.edit-file-form textarea{
  resize: vertical;
}
.form-actions{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-direction: column;
}
.form-actions button{
  width: 100%;
  height: 50px;
}