:root {
  --background-color: #ffffff;
  --secondary-background-color: #f5f5f5;
  --text-color: #1e1e1e;
  --primary-color: #007acc;
  --secondary-color: #ff4081;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-theme {
  --background-color: #1e1e1e;
  --text-color: #f0f0f0;
  --primary-color: #0a84ff;
  --secondary-color: #ff79b0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

header {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.files-list{
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: .8em;
}

.file-item {
  background-color: var(--secondary-background-color);
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--primary-color);
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}